.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color:azure;
  position: absolute;
  height: 100%;
  width: 100%;
  }
  .content{
      display: flex;
      flex-direction: column;
      gap: 80px;
  }
  .options{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 75px;
  }
  .header{
      font-size: 50px;
      font: bold;
      color: greenyellow;
  }
  #welcome{
    font-size: 150px;
  }
  #Catalog{
    font-size: 0px;
  }
.column{
    display: flex;
    gap: 30px;
}
.fooditem{
  text-align: center;
  border: solid black;
}
#micros{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#questionspage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.macro{
  display: flex;
  flex-direction: column;
}
#macros{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.buttons{
  display: flex;
  gap: 15px;
}
.next{
  background-color: lawngreen;
  width: 300px;
  height: 70px;
  font-size: 40px;
}
.fooditem{
  margin: 15px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: greenyellow;
}
.foodname{
  font-size: 25px;
}
.button{
  width: 200px;
  height: 100px;
}
#hello{
  margin-left: 150px;
  margin-right: 150px;
  gap: 10px;
}
#catalogpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: azure;
}
#catalogheader{
  margin-top:30px;
}