.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
  }
  .content{
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  .options{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
  }
  .header{
      font-size: 50px;
      font: bold;
      color: greenyellow;
  }
  #welcome{
    font-size: 100px;
  }
  #Catalog{
    font-size: 0px;
  }
.column{
    display: flex;
}
.fooditem{
  text-align: center;
  border: solid black;
}
#micros{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#questionspage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.macro{
  display: flex;
  flex-direction: column;
}
#macros{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.buttons{
  display: flex;
  gap: 15px;
}
.next{
  background-color: lawngreen;
  width: 300px;
  height: 70px;
  font-size: 40px;
}
.fooditem{
  margin: 15px;
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.foodname{
  font-size: 25px;
}